/* GAME PAGE*/

body {
  background-color: #60a060;
  margin: 0px;
}

header {
  background: black;
  color: #60a060;
  text-align: center;
  display: block;
  width: 100%;
}

h1 {
  margin: 0;
  font-size: 2.5em;
}

h2 {
  margin: 0;
}

main {
  position: relative;
}

h3 {
  padding: 6px;
  margin: 0;
  color: #fff;
  background-color: rgba(100, 100, 100, 0.7);
}

/*betting section*/
.money {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.7em;
}

#balamt {
  color: #DD3300;
  background: #ccc;
  width: 75px;
}

.bet, .balance {
  display: inline-flex; /* AWESOME to see flexbox usage here!!! */
  color: black;
}

.balance {
  border: 3px solid #DD3300;
  padding: 0 15px 0 15px;
  margin-right: 50px;
}

#betbox {
  width: auto;
  font-size: 1.3em;
  margin-left: 10px;
}


/*area of game play*/
.board {
  background-image: url("http://i.imgur.com/iZrhFim.png"); /* remember to download this image locally in case this link goes down */
  background-size: 100%;
  width: 927px;
  height: 509px;
  align-items: center;
  margin: auto;
  border: 2px solid #909090;
  box-sizing: border-box;
}

/*dealer & player areas*/
.game {
  vertical-align: top;
  text-align: center;
  position: relative;
  height: 250px;
  width: 927px; /* avoid hardcoding heights when possible.*/
}

#dealerscore, #playerscore {
  font-size: 2.5em;
  margin-top: 0;
}

/*card element positions*/

#dcards, #pcards {
  position: absolute;
  margin-left: 350px;
  margin-top: 20px;
}

#dealertwo, #playertwo {
  position: absolute;
  margin-left: 80px;
  margin-top: 10px;
}

#dealerthree, #playerthree {
  position: absolute;
  margin-left: 140px;
  margin-top: 20px;
}

#dealerfour, #playerfour {
  position: absolute;
  margin-left: 190px;
  margin-top: 30px;
}

#dealerfive, #playerfive {
  position: absolute;
  margin-left: 230px;
  margin-top: 40px;
}

#dealersix, #playersix {
  position: absolute;
  margin-left: 270px;
  margin-top: 50px;
}

#dealerseven, #playerseven {
  position: absolute;
  margin-left: 310px;
  margin-top: 50px;
}

/* Each of the above has position:absolute. You can comma separate selectors to DRY up your code. */

.extracards {
  visibility: hidden;
}

/*score boxes*/
.score {
  font-size: 2em;
  line-height: 100%;
  color: #FFFFFF;
  text-align: center;
  position: absolute;
  margin-left: 700px;
  margin-top: 30px;
  height: 170px;
  width: 220px;
  border: 5px solid #c04444;
  box-sizing: border-box;
}

/*buttons*/

.options {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.gamebuttons {
  background: rgba(180, 60, 60, 0.8);
  font-size: 1.3em;
  text-align: center;
  color: white;
  padding: 10px;
  margin: 15px;
}

/* CARD STYLES & SETUP */

.card {
  background-image: url("graphics/cardback.gif");
  border-color: #808080 #000000 #000000 #808080;
  border-width: 1px;
  border-style: solid;
  font-size: 20pt;
  position: absolute;
  width:  3.75em;
  height: 5.00em;
}

.front {
  background-color: #ffffff;
  color: #000000;
  position: absolute;
  width: 100%;
  height: 100%;
}

.red { color: #ff0000; }

.index {
  font-size: 50%;
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 0.25em;
  top:  0.25em;
}

.ace {
  font-size: 300%;
  position: absolute;
  left: 0.325em;
  top:  0.250em;
}

.face {
  border: 1px solid #000000;
  position: absolute;
  left: 0.50em;
  top:  0.45em;
  width:  2.6em;
  height: 4.0em;
}

.spotA1 { position: absolute; left: 0.60em; top: 0.5em; }
.spotA2 { position: absolute; left: 0.60em; top: 1.5em; }
.spotA3 { position: absolute; left: 0.60em; top: 2.0em; }
.spotA4 { position: absolute; left: 0.60em; top: 2.5em; }
.spotA5 { position: absolute; left: 0.60em; top: 3.5em; }

.spotB1 { position: absolute; left: 1.55em; top: 0.5em; }
.spotB2 { position: absolute; left: 1.55em; top: 1.0em; }
.spotB3 { position: absolute; left: 1.55em; top: 2.0em; }
.spotB4 { position: absolute; left: 1.55em; top: 3.0em; }
.spotB5 { position: absolute; left: 1.55em; top: 3.5em; }

.spotC1 { position: absolute; left: 2.50em; top: 0.5em; }
.spotC2 { position: absolute; left: 2.50em; top: 1.5em; }
.spotC3 { position: absolute; left: 2.50em; top: 2.0em; }
.spotC4 { position: absolute; left: 2.50em; top: 2.5em; }
.spotC5 { position: absolute; left: 2.50em; top: 3.5em; }

/* I am very impressed with your CSS! Awesome job!! */
